<!DOCTYPE html>
<html>
 <head>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Unalix
  </title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <div class="top-banner">
   <a class="top-banner-title" href="/">
    Unalix
   </a>
   <div id="error">
    <h2>
     Error
    </h2>
    <div>
     {{exception}}
    </div>
   </div>
   </div>
  </div>
 </body>
</html>
